background-color{
    color:red;
    foont-size:24;
    font-family:arial;
    text-align-center;
    padding:20px;

}
body{
    background-color:lightblue;
    text-align:center;
    padding:20px;
    font-size:37;
    font-family:arial;
}
